In [1]:
print('hello world')

hello world

In [3]:
!print('Python: {}'.format(sys.version))

Unable to initialize device PRN

In [5]:
import sys

print('Python: {}'.format(sys.version))

Python: 3.7.6 (default, Jan  8 2020, 16:21:45) [MSC v.1916 32 bit (Intel)]

In [6]:
import scipy 
print('scipy: {}'.format(scipy.__version__))

scipy: 1.4.1

In [7]:
import matplotlib 
print('matplotlib: {}'.format(matplotlib.__version__))

matplotlib: 3.1.3

In [8]:
import pandas 
print('pandas: {}'.format(pandas.__version__))

pandas: 1.0.1

In [9]:
import sklearn 
print('sklearn: {}'.format(sklearn.__version__))

sklearn: 0.21.1

In [14]:
%matplotlib inline

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [22]:
#  Load the libraries
#  If you installed the Anaconda distribution, 
#  these were all installed at that time.

import pandas

from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

#  Enable inline plotting from matplotlib

%matplotlib inline

#  Set some styles for seaborn

sns.set(style="white", color_codes=True)

In [23]:
#  Load the dataset into a pandas dataframe named 'iris'
#  The dataset resides at the University of California - Irvine.
#  https://archive.ics.uci.edu/ml/datasets/iris
#  The UCI dataset repository has many datasets available for your use.
#  All have been curated and well studied.

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

#  Define the names of the variables as we want them

names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'species']
iris = pandas.read_csv(url, names=names)

In [25]:
iris.head()

   sepal-length  sepal-width  petal-length  petal-width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [27]:
iris.tail()

     sepal-length  sepal-width  petal-length  petal-width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [28]:
#  Load the dataset into a pandas dataframe named 'iris'
#  The dataset resides at the University of California - Irvine.
#  https://archive.ics.uci.edu/ml/datasets/iris
#  The UCI dataset repository has many datasets available for your use.
#  All have been curated and well studied.

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

#  Define the names of the variables as we want them

names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'species']
iris = pandas.read_csv(url, names=names)

In [29]:
#  Identify the type of dataset
#  Expect it to be a pandas dataframe

print (type(iris))

<class 'pandas.core.frame.DataFrame'>

In [30]:
#  Check the shape of the data.
#  Expect it to be 150 rows and 5 columns.

print(iris.shape)

(150, 5)

In [31]:
#  Print the first 20 data points -- the head of the dataset

print(iris.head(20))

    sepal-length  sepal-width  petal-length  petal-width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa

In [32]:
#  Use the describe function to describe some of the 
#  statistical properties of the data.

print(iris.describe())

       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000